<section>
  <form [formGroup]="repeatedUseForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Repeated Use Overtime
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="section-container form-group" *ngIf="toggleSection">
        <!-- <div class="rightKneeColumn"> &nbsp; </div>
        <div class="leftKneeColumn"> &nbsp; </div> -->

        <div class="row align-center">
          <div class="col-md-6">
            <label class="center-block">
            </label>
          </div>
          <div class="col-md-3">
            <label class="center-block">Right Knee
            </label>
          </div>
          <div class="col-md-3">
            <label class="center-block">Left Knee
            </label>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              Is the Veteran being examined immediately after repetitive use over time?
            </label>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="examinedImmediatelyRight" formControlName="examinedImmediatelyRight" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>
              <label>
                <input type="radio" name="examinedImmediatelyRight" formControlName="examinedImmediatelyRight" value="no" />
                <div class="box no">
                  <span>No</span>
                </div>
              </label>
              <label>
                <input type="radio" name="examinedImmediatelyRight" formControlName="examinedImmediatelyRight" value="na" />
                <div class="box na">
                  <span>N/A</span>
                </div>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="examinedImmediatelyLeft" formControlName="examinedImmediatelyLeft" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>
              <label>
                <input type="radio" name="examinedImmediatelyLeft" formControlName="examinedImmediatelyLeft" value="no" />
                <div class="box no">
                  <span>No</span>
                </div>
              </label>
              <label>
                <input type="radio" name="examinedImmediatelyLeft" formControlName="examinedImmediatelyLeft" value="na" />
                <div class="box na">
                  <span>N/A</span>
                </div>
              </label>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              If the examination is medically inconsistent with the Veteran's statements of functional loss, please explain:
            </label>
          </div>
          <div class="col-md-3">
            <textarea rows="5" type="text" class="form-control" formControlName="inconsistencyExplanationRight"></textarea>
          </div>
          <div class="col-md-3">
            <textarea rows="5" type="text" class="form-control" formControlName="inconsistencyExplanationLeft"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              Does pain, weakness, fatigability or incoordination significantly limit functional ability with repeated use over a period
              of time?
            </label>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="limitAbilityRight" formControlName="limitAbilityRight" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>
              <label>
                <input type="radio" name="limitAbilityRight" formControlName="limitAbilityRight" value="no" />
                <div class="box no">
                  <span>No</span>
                </div>
              </label>
              <label>
                <input type="radio" name="limitAbilityRight" formControlName="limitAbilityRight" value="na" />
                <div class="box na">
                  <span>N/A</span>
                </div>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="limitAbilityLeft" formControlName="limitAbilityLeft" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>
              <label>
                <input type="radio" name="limitAbilityLeft" formControlName="limitAbilityLeft" value="no" />
                <div class="box no">
                  <span>No</span>
                </div>
              </label>
              <label>
                <input type="radio" name="limitAbilityLeft" formControlName="limitAbilityLeft" value="na" />
                <div class="box na">
                  <span>N/A</span>
                </div>
              </label>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              If unable to say without mere speculation, please explain:
            </label>
          </div>
          <div class="col-md-3">
            <textarea rows="5" type="text" class="form-control" formControlName="unableToSayRight"></textarea>
          </div>
          <div class="col-md-3">
            <textarea rows="5" type="text" class="form-control" formControlName="unableToSayLeft"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              Select all factors that cause this functional loss:
            </label>
          </div>
          <div class="col-md-3 pl-30">
            <div class="row round">
              <input class="mr-3" type="checkbox" id="naRight" name="naRight" formControlName="naRight"> N/A
              <label for="naRight"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="painRight" name="painRight" formControlName="painRight"> Pain
              <label for="painRight"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="fatigueRight" name="fatigueRight" formControlName="fatigueRight"> Fatigue
              <label for="fatigueRight"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="weaknessRight" name="weaknessRight" formControlName="weaknessRight"> Weakness
              <label for="weaknessRight"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="lackEnduranceRight" name="lackEnduranceRight" formControlName="lackEnduranceRight"> Lack of Endurance
              <label for="lackEnduranceRight"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="incoordinationRight" name="incoordinationRight" formControlName="incoordinationRight">Incoordination
              <label for="incoordinationRight"></label>
            </div>
            <div class="row">
              <div class="other-factors">
                <input type="text" class="form-control " formControlName="other1NameRight" placeholder="Other/s">
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-30">
            <div class="row round">
              <input class="mr-3" type="checkbox" id="naLeft" name="naLeft" formControlName="naLeft"> N/A
              <label for="naLeft"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="painLeft" name="painLeft" formControlName="painLeft"> Pain
              <label for="painLeft"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="fatigueLeft" name="fatigueLeft" formControlName="fatigueLeft"> Fatigue
              <label for="fatigueLeft"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="weaknessLeft" name="weaknessLeft" formControlName="weaknessLeft"> Weakness
              <label for="weaknessLeft"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="lackEnduranceLeft" name="lackEnduranceLeft" formControlName="lackEnduranceLeft"> Lack of Endurance
              <label for="lackEnduranceLeft"></label>
            </div>
            <div class="row round">
              <input class="mr-3" type="checkbox" id="incoordinationLeft" name="incoordinationLeft" formControlName="incoordinationLeft">Incoordination
              <label for="incoordinationLeft"></label>
            </div>
            <div class="row">
              <div class="other-factors">
                <input type="text" class="form-control" formControlName="other1NameLeft" placeholder="Other/s">
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">
              Are you able to describe in terms of Range of Motion?
            </label>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="describeRangeInMotionRight" formControlName="describeRangeInMotionRight" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>

              <label>
                <input type="radio" name="describeRangeInMotionRight" formControlName="describeRangeInMotionRight" value="no" />
                <div class="no box">
                  <span>No</span>
                </div>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="describeRangeInMotionLeft" formControlName="describeRangeInMotionLeft" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>

              <label>
                <input type="radio" name="describeRangeInMotionLeft" formControlName="describeRangeInMotionLeft" value="no" />
                <div class="no box">
                  <span>No</span>
                </div>
              </label>

            </div>
          </div>
        </div>

        <div *ngIf="showRangeOfMotionDescription()">
          <hr>

          <div class="row">
            <div class="col-md-12">
              <label class="center-block">
                If no is the answer to the previous question, please choose from the following options and provide examples, as appropriate:
              </label>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isFunctionalLossPresent" name="isFunctionalLossPresent" formControlName="isFunctionalLossPresent">
              <label for="isFunctionalLossPresent"></label>
            </div>
            <div class="col-md-11">
              <label class="center-block">
                Loss of ROM not anticipated, however, functional loss is present due to pain.
              </label>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isROMLossMinimal" name="isROMLossMinimal" formControlName="isROMLossMinimal">
              <label for="isROMLossMinimal"></label>
            </div>
            <div class="col-md-11">
              <label class="center-block">
                The veteran reports after repeated use, the loss of ROM is variable, depending on how strenuously the joint was used. At
                its worst, the veteran cannot move it at all due to pain but there are other times where the ROM loss is
                minimal.
              </label>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isPainIncrease" name="isPainIncrease" formControlName="isPainIncrease">
              <label for="isPainIncrease"></label>
            </div>
            <div class="col-md-11">
              <label class="center-block">
                The veteran reports there is no loss in ROM after repeated use, however, the veteran does report an increase in pain.
              </label>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isPainWeakneesInstability" name="isPainWeakneesInstability" formControlName="isPainWeakneesInstability"
                (change)="disableToggle('isPainWeakneesInstability','painWeakneesInstabilityAbility')">
              <label for="isPainWeakneesInstability"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                Pain/ weakness / instability may cause a further decrease in ROM with repetitive use, significantly affecting his ability
                to
              </label>
            </div>
            <div class="col-md-5">
              <textarea type="text" class="form-control" formControlName="painWeakneesInstabilityAbility"></textarea>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isDependOnTypeOfMovement" name="isDependOnTypeOfMovement" formControlName="isDependOnTypeOfMovement"
                (change)="disableToggle('isDependOnTypeOfMovement','dependOnTypeOfMovementExmpl')">
              <label for="isDependOnTypeOfMovement"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                The veteran reports after repetitive use, the loss of ROM is variable, depending on the type of movement. Provide Examples:</label>
            </div>
            <div class="col-md-5">
              <textarea type="text" class="form-control" formControlName="dependOnTypeOfMovementExmpl"></textarea>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isDependOnLevelOfActivity" name="isDependOnLevelOfActivity" formControlName="isDependOnLevelOfActivity"
                (change)="disableToggle('isDependOnLevelOfActivity','dependOnLevelOfActivityExmpl')">
              <label for="isDependOnLevelOfActivity"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                The veteran reports after repetitive use, the loss of ROM is variable, depending on the level of activity. Provide Examples:
              </label>
            </div>
            <div class="col-md-5">
              <textarea type="text" class="form-control" formControlName="dependOnLevelOfActivityExmpl"></textarea>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isUnableToDoSelfCare" name="isUnableToDoSelfCare" formControlName="isUnableToDoSelfCare"
                (change)="disableToggle('isUnableToDoSelfCare','selfCareActivities')">
              <label for="isUnableToDoSelfCare"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                The veteran reports after repetitive use, the loss of ROM becomes significant he is unable to do self-care activities such
                as:
              </label>
            </div>
            <div class="col-md-5">
              <textarea type="text" class="form-control" formControlName="selfCareActivities"></textarea>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isNotFeasible" name="isNotFeasible" formControlName="isNotFeasible" (change)="disableToggle('isNotFeasible','experiencesIncreased')">
              <label for="isNotFeasible"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                The veteran experiences increased __________ which leads to a functional loss which is not feasible to be described in terms
                of ROM.
              </label>
            </div>
            <div class="col-md-5">
              <textarea type="text" class="form-control" formControlName="experiencesIncreased"></textarea>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-1 round rom">
              <input class="mr-3" type="checkbox" id="isUnableToSay" name="isUnableToSay" formControlName="isUnableToSay" (change)="disableToggle('isUnableToSay','unableToSayExpl')">
              <label for="isUnableToSay"></label>
            </div>
            <div class="col-md-6">
              <label class="center-block">
                Unable to say without mere speculation, please explain:
              </label>
            </div>
            <div class="col-md-5">
              <textarea type="text" rows="4" class="form-control" formControlName="unableToSayExpl"></textarea>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </form>
</section>