<section>
  <form [formGroup]="otherPertinentPEForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Other pertinent physical findings, complications, conditions, signs, symptoms
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="section-container form-group" *ngIf="toggleSection">

        <div class="row">
          <div class="col-md-9">
            <label class="center-block">11A. Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms
              related to any conditions listed in the diagnosis section above?
            </label>
          </div>
          <div class="col-md-3">
            <div class="middle">
              <label>
                <input type="radio" name="other" formControlName="other" value="yes" />
                <div class="box yes">
                  <span>Yes</span>
                </div>
              </label>
              <label>
                <input type="radio" name="other" formControlName="other" value="no" />
                <div class="no box">
                  <span>No</span>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="otherPertinentPEForm.value.other == 'yes'">

          <hr>

          <div class="row">
            <div class="col-md-12">
              <label class="center-block">If yes, describe (brief summary):
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <textarea type="text" rows="3" class="form-control" formControlName="otherBriefSummary"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</section>