.veteran-info{
    padding: 10px;
    background-color: #dadee2;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #454848c4;
}

hr{
    margin: 5px;
}