<section>
  <form [formGroup]="addQuestionsForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Additional Questions
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="section-container form-group" *ngIf="toggleSection">

        <div class="row">
          <div class="col-md-12">
            <label class="center-block">SERVICE-CONNECTED DIAGNOSIS
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div formArrayName="serviceConnectedDiagnoses" *ngFor="let serviceConnectedDiagnosis of addQuestionsForm.get('serviceConnectedDiagnoses').controls; let i = index;">
              <div [formGroupName]="i">
                <input type="text" class="form-control mb-10" formControlName="serviceConnectedDiagnosis" (keyup.enter)="addServiceConnectedDiagnoses()"
                />
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row align-center">
          <div class="col-md-4">
            <label class="center-block">New Claim/ Additional Diagnoses
            </label>
          </div>
          <div class="col-md-4">
            <label class="center-block">Choose from the Selection
            </label>
          </div>
          <div class="col-md-4">
            <label class="center-block">Rationale
            </label>
          </div>
        </div>

        <hr>

        <div formArrayName="addtlDiagnoses" *ngFor="let addtlDiagnoses of addQuestionsForm.get('addtlDiagnoses').controls; let i = index;">
          <div [formGroupName]="i">
            <div class="row align-center">
              <div class="col-md-4">
                <input type="text" class="form-control mb-10" formControlName="addtlDiagnosis" (keyup.enter)="addAddtlDiagnoses()">
              </div>
              <div class="col-md-4">
                <select class="form-control mb-10" formControlName="addtlDiagnosisSelection" id="addtlDiagnosisSelection">
                  <option value="">Select Option</option>
                  <option value="A">A. THERE IS NO CHANGE IN THE SERVICE CONNECTED DIAGNOSIS AND NO ADDITIONAL DIAGNOSES HAVE BEEN RENDERED.</option>
                  <option value="B">B. THE NEW DIAGNOSIS IS A CORRECTION OF THE PREVIOUS DIAGNOSIS</option>
                  <option value="C">C. THERE IS A WORSENING OF THE VETERAN'S SYMPTOMS HOWEVER NO CHANGE TO THE SERVICE CONNECTED DIAGNOSIS
                    AND NO ADDITIONAL DIAGNOSES HAVE BEEN RENDERED.</option>
                  <option value="D">D. ADDITIONAL CONDITIONS WERE FOUND WHICH ARE DIRECTLY DUE TO OR RELATED TO THE SERVICE CONNECTED DIAGNOSIS
                    (I.E. A PROGRESSION)</option>
                  <option value="E">E. ADDITIONAL CONDITIONS WERE FOUND WHICH ARE UNRELATED TO THE SERVICE CONNECTED DIAGNOSIS (I.E. A NEW
                    AND SEPARATE CONDITION). **For option E, please specify which of the veteran's symptoms and/or findings
                    correspond with each diagnosis, if feasible. </option>
                  <option value="F">F. THE SERVICE CONNECTED DIAGNOSIS HAS RESOLVED.</option>
                  <option value="NA">Not Applicable</option>
                </select>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control mb-10" formControlName="addtlDiagnosisRationale">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</section>