<section>
  <form [formGroup]="remainingExtForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Remaining effective function of the extremities
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="medical-history form-group" *ngIf="toggleSection">

        <div class="row">
          <div class="col-md-9">
            <label class="center-block">Due to the Veteran’s shoulder or arm conditions, is there functional impairment of an extremity such that no
              effective function remains other than that which would be equally well served by an amputation with prosthesis?
              (Functions of the upper extremity include grasping, manipulation, etc., while functions for the lower extremity
              include balance and propulsion, etc.)
            </label>
          </div>
          <div class="col-md-3">
            <select class="form-control" formControlName="remainingExtSelect" id="remainingExtSelect">
              <option value="">Select Option</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="na">N/A</option>
            </select>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <label class="center-block">If yes, indicate extremities for which this applies:
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control" formControlName="extremitiesSelect" id="extremitiesSelect">
              <option value="">Select Option</option>
              <option value="right">Right upper extremity</option>
              <option value="left">Left upper extremity</option>
              <option value="bilateral">Bilateral upper extremities</option>
              <option value="na">N/A</option>
            </select>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <label class="center-block">For each checked extremity, identify the condition causing loss of function, describe loss of effective function
              and provide specific examples (brief summary):
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <textarea type="text" rows="3" class="form-control" formControlName="briefSummary"></textarea>
          </div>
        </div>

      </div>
    </div>
  </form>
</section>