<section>
  <form [formGroup]="remarksForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Remarks
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="section-container form-group" *ngIf="toggleSection">
        
        <div class="row">
          <div class="col-md-12">
            <textarea type="text" rows="7" class="form-control" formControlName="remarks"></textarea>
          </div>
        </div>
        
      </div>
    </div>
  </form>
</section>