hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.initialRangeMatrix{
    .col-md-12{
        padding-left: 0px;
        padding-right: 0px;
    }

    label{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}