hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.initialRangeHeader{
    padding: 10px 0px 8px 0px;
    background-color: #a1bdde;
    margin: -10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #8693a2;
}

.initialRangeMatrix{
    .col-md-12{
        padding-left: 0px;
        padding-right: 0px;
    }

    label{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.border-part{
    border: 1px solid #8693a2;
    padding: 10px;
    background-color: #ffffff3d;
    border-radius: 5px;
}