<section>
  <form [formGroup]="funcImpactForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Functional Impact
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="medical-history form-group" *ngIf="toggleSection">

        <div class="row align-center">
          <div class="col-md-4">
            <label class="center-block">Limitations
            </label>
          </div>
          <div class="col-md-1">
            <label class="center-block">Right
            </label>
          </div>
          <div class="col-md-1">
            <label class="center-block">Left
            </label>
          </div>
          <div class="col-md-5 offset-1">
            <label class="center-block">Remarks
            </label>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">None
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="noneRight" name="noneRight" formControlName="noneRight">
            <label for="noneRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="noneLeft" name="noneLeft" formControlName="noneLeft">
            <label for="noneLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="noneRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">Repetitive movements
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="repMovementRight" name="repMovementRight" formControlName="repMovementRight">
            <label for="repMovementRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="repMovementLeft" name="repMovementLeft" formControlName="repMovementLeft">
            <label for="repMovementLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="repMovementRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">Cross legs
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="crossLegsRight" name="crossLegsRight" formControlName="crossLegsRight">
            <label for="crossLegsRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="crossLegsLeft" name="crossLegsLeft" formControlName="crossLegsLeft">
            <label for="crossLegsLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="crossLegsRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">Prolonged weight-bearing
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="weightBearingRight" name="weightBearingRight" formControlName="weightBearingRight">
            <label for="weightBearingRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="weightBearingLeft" name="weightBearingLeft" formControlName="weightBearingLeft">
            <label for="weightBearingLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="weightBearingRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">Prolonged standing
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="prolStandRight" name="prolStandRight" formControlName="prolStandRight">
            <label for="prolStandRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="prolStandLeft" name="prolStandLeft" formControlName="prolStandLeft">
            <label for="prolStandLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="prolStandRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-4">
            <label class="center-block">Prolonged sitting
            </label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="prolSitRight" name="prolSitRight" formControlName="prolSitRight">
            <label for="prolSitRight"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="prolSitLeft" name="prolSitLeft" formControlName="prolSitLeft">
            <label for="prolSitLeft"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="prolSitRemarks"></textarea>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="other1Name" />
          </div>
          <div class="col-md-1 offset-1 round">
            <input class="mr-3" type="checkbox" id="other1Right" name="other1Right" formControlName="other1Right">
            <label for="other1Right"></label>
          </div>
          <div class="col-md-1 round">
            <input class="mr-3" type="checkbox" id="other1Left" name="other1Left" formControlName="other1Left">
            <label for="other1Left"></label>
          </div>
          <div class="col-md-5 offset-1">
            <textarea type="text" class="form-control" formControlName="other1Remarks"></textarea>
          </div>
        </div>

      </div>
    </div>
  </form>
</section>