<section>
  <form [formGroup]="othersForm" novalidate>
    <div class="container accForm-container">
      <div class="accForm-title" (click)="hideShowSection()">
        <div class="row">
          <div class="col-md-11">
            Other pertinent physical findings, complications, conditions, signs, symptoms
          </div>
          <div class="col-md-1 align-right">
            <i class="material-icons vertical-align">
              arrow_drop_down
            </i>
          </div>
        </div>
      </div>

      <div class="medical-history form-group" *ngIf="toggleSection">

        <div class="row">
          <div class="col-md-10">
            <label class="center-block">11A. Does the Veteran have any other pertinent physical findings, complications, conditions, signs or symptoms
              related to any conditions listed in the diagnosis section above?
            </label>
          </div>
          <div class="col-md-1 align-center">
            <label class="center-block">Yes
            </label>
            <input type="radio" name="other" formControlName="other" value="yes">
          </div>
          <div class="col-md-1 align-center">
            <label class="center-block">No
            </label>
            <input type="radio" name="other" formControlName="other" value="no">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <label class="center-block">If yes, describe (brief summary):
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <textarea type="text" rows="3" class="form-control" formControlName="otherBriefSummary"></textarea>
          </div>
        </div>

      </div>
    </div>
  </form>
</section>