
.rightKneeColumn{
    position: absolute;
    width: 31%;
    background: #89a8ce7d;
    left: 34.5%;
    height: 359px;
    margin-top: -10px;
    border-radius: 5px;
    top: 4.95%;
}
  
.leftKneeColumn{
    position: absolute;
    width: 31%;
    background: #89a8ce7d;
    left: 66.25%;
    height: 359px;
    margin-top: -10px;
    border-radius: 5px;
    top: 4.95%;
}